# Lightnet test accounts
# Paste keys from `zk lightnet account-list` or the account manager API

LIGHTNET_SIGNER1_PRIVATE_KEY=
LIGHTNET_SIGNER1_PUBLIC_KEY=

LIGHTNET_SIGNER2_PRIVATE_KEY=
LIGHTNET_SIGNER2_PUBLIC_KEY=

LIGHTNET_SIGNER3_PRIVATE_KEY=
LIGHTNET_SIGNER3_PUBLIC_KEY=
